<div
    aria-hidden="true"
    class="hidden md:block absolute top-[13vh] left-[2.5vw] font-chalk-thin italic text-[1.1vw] text-white/15 select-none pointer-events-none rotate-[-6deg]">
    E = mc² &nbsp;•&nbsp; a² + b² = c²
</div>
<div
    aria-hidden="true"
    class="hidden md:block absolute top-[21vh] left-[2vw] font-chalk-thin italic text-[1.1vw] text-white/10 select-none pointer-events-none rotate-[-2deg]">
    ~ Lesvoorbereiding L.O. ~
</div>
<div
    aria-hidden="true"
    class="hidden md:block absolute bottom-[16vh] left-[2vw] font-chalk-thin italic text-[1.3vw] text-white/15 select-none pointer-events-none rotate-[5deg] space-x-3">
    <i aria-hidden="true" class="fa-regular fa-compass chalk-icon"></i>
    <i aria-hidden="true" class="fa-regular fa-bookmark chalk-icon"></i>
    <i aria-hidden="true" class="fa-regular fa-lightbulb chalk-icon"></i>
</div>

<div
    aria-hidden="true"
    class="hidden md:block absolute top-[25vh] left-[32vw] font-chalk-thin text-[1.2vw] text-white/10 select-none pointer-events-none rotate-[8deg] space-x-3">
    <i aria-hidden="true" class="fa-regular fa-futbol chalk-icon"></i>
    <i aria-hidden="true" class="fa-regular fa-clock chalk-icon"></i>
</div>
<div
    aria-hidden="true"
    class="hidden md:block absolute bottom-[8vh] left-[28vw] font-chalk-thin italic text-[1.1vw] text-white/15 select-none pointer-events-none rotate-[-4deg]">
    "Mens sana in corpore sano"
</div>

<div
    aria-hidden="true"
    class="hidden md:block absolute top-[13vh] right-[27vw] font-chalk-thin text-[1.3vw] text-white/15 select-none pointer-events-none rotate-[12deg] space-x-3">
    <i aria-hidden="true"class="fa-regular fa-face-smile chalk-icon"></i>
    <i aria-hidden="true"class="fa-regular fa-comments chalk-icon"></i>
</div>
<div
    aria-hidden="true"
    class="hidden md:block absolute bottom-[14vh] right-[22vw] font-chalk-thin italic text-[1.1vw] text-white/10 select-none pointer-events-none rotate-[6deg]">
    1e graad SO
</div>
<div
    aria-hidden="true"
    class="hidden md:block absolute bottom-[8vh] right-[3vw] font-chalk-thin text-[1.4vw] text-white/15 select-none pointer-events-none rotate-[-8deg] space-x-3">
    <i aria-hidden="true" class="fa-regular fa-paper-plane chalk-icon"></i>
    <i aria-hidden="true" class="fa-regular fa-heart chalk-icon"></i>
</div>